.flex_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

  body, nav, main
  {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 100%;
  }

  nav
  {
    flex: 0 1 100%;
  }

.line 
{ 
    width: 70px; 
    height: 70px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-bottom: 4px;
    padding: 0px;
}

.preamble 
{ 
    width: 70px; 
    height: 45px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-bottom: 4px;
    padding: 0px;
}

.disruption 
{ 
    width: 75px; 
    height: 45px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.reason
{ 
    width: 75px; 
    height: 45px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.detail
{ 
    width: 70px; 
    height: 70px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.reason_clear
{
    margin-left: 4px;
    margin-top: 8px;
    width: 233px;
    height: 45px;
    font-family: 'Helvetica'; 
    font-size: 18px;
}

.detail_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 45px;
    width: 146px;
    font-family: 'Helvetica'; 
    font-size: 18px;
}

.assembler 
{ 
    width: 70px; 
    height: 70px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0px;
}

.button_text
{
    font-family: 'Helvetica'; 
    font-size: 14px;
}

.message_search 
{ 
    width: 60px; 
    height: 50px;
    background-color: #e6e6e6; 
    border-color: lightgray;
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-left: 10px;
    margin-top: 1px;
}


.login_panel
{
    border: 3px white;
    padding-left: 10px;
    text-align: center;
    margin-top: 50px;
    align-items: center;
}

.main_panel
{
    border: 3px white;
    padding-left: 10px;
    height: 1150px;
    width: 1250px;
    background-color: #16539F;
}
.message_builder_panel
{
    padding: 10px;
    height: 375px;
    
}
.message_assembly_panel
{
    border: 2px solid white; 
    height: 710px;
    width: 725px;
    background-color: #f0f0f0;
}

.line_panel {
    background-color: #f0f0f0;
    width: 95px;
}
.line_btn-group {
    padding-left: 11px;
    padding-top: 4px;
    padding-right: 11px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.disruption_panel {
    background-color: #f0f0f0;
    width: 244px;
    height: 356px;
    margin-left: 10px;
}
.disruption_btn-group {
    height: 306px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.reason_panel {
    background-color: #f0f0f0;
    width: 700px;
    height: 356px;
    margin-left: 10px;
    flex-direction: column;
}

.reason_btn-panel {
    width: 244px;
    height: 326px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.reason_btn-group {
    width: 244px;
    height: 249px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.detail_btn-panel {
    width: 156px;
    height: 326px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.detail_btn-group {
    width: 156px;
    height: 249px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reason_list
{
    padding:0px; 
    padding-left:5px; 
    list-style-type: none;
}

.reason_text_search
{
    height: 38px; 
    margin-left: 5px; 
    margin-top: 5px;
}

.detail_panel {
    background-color: #f0f0f0;
    width: 156px;
    height: 356px;
    margin-left: 10px;
    flex-direction: column;
}

.detail_button_group
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 326px;
}

.preamble_panel {
    background-color: #f0f0f0;
    width: 95px;
    margin-top: 5px;
}

.preamble_btn-group {
    padding-left: 11px;
    padding-top: 4px;
    padding-right: 11px;
    padding-bottom: 0px;
}

.title_panel
{
    background-color: #16539F;
    color: white;
    height: 50px;
    width: 100%;
    text-align: middle;
    flex: 0 1 100%;
}

.title_font
{
    font-family: 'Helvetica'; 
    font-size: 30px;
    margin-left: 10px;
}

.heading_font
{
    font-family: 'Helvetica'; 
    font-size: 14px
}

.message_font
{
    font-family: 'Helvetica'; 
    font-size: 16px;
    padding: 0px;
}

.list_font
{
    font-family: 'Helvetica'; 
    font-size: 14px
}

.complete_message_panel
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 100px;
    width: 700px;
}

.message_fragment_text
{
    width: 700px;
}

.message_btn_panel
{
    width: 700px;
    display: flex;
}

.complete_message
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
}

.reason_search_text
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 255px;
    width: 450px;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.message_input_text
{
    width: 700px;
}

.reason_input_text
{
    width: 300px;
    margin-top: 5px;
}

.project-name {
    font-size: 25px;
    color: #123788;
}

.project-logo {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.ident10
{
    position: relative;
    left: 10px;
}

.v_spcr_5
{
    position: relative;
    top: 5px;
}

.footer {
    flex-shrink: 0;
    margin-top: 50px;
    background-color: #444;
}

.footer p {
    color: #999;
    margin: 20px;
    font-size: 10px;
}

.active,
.btn:active
{
    background: green !important
}
