/* Html Overrides*/
body, nav, main
{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

main, body
{
    margin-bottom: 30px;
}

div:focus 
{ 
    outline: none; 
}

@media (min-width: 768px) 
{
    .modal-xl {
     max-width:90%;
    }
}

#stationModal.modal.show 
{
    display: flex !important;
    justify-content: center;
}
  
#stationModal.modal-dialog 
{
    align-self: center;
}

area 
{
    display: block;
    cursor: pointer;
}

/* Containers */
.flex_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container {
    flex: 1 0 auto;
}

.btn-outline-dark:hover {    
    background-color: #e6e6e6; 
    color: black;
}

/* Positions */
.ident10
{
    position: relative;
    left: 10px;
}

/* Positions */
.ident5
{
    position: relative;
    left: 5px;
}

.v_spcr_5
{
    position: relative;
    top: 5px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

/* Buttons */
.status 
{ 
    background-color: #e6e6e6; 
    height: 90%;
    color: black;
    font-family: 'Helvetica'; 
    font-size: 18px;
    margin-top: 2px;
    padding: 0px;
}

.line 
{ 
    width: 65px; 
    height: 55px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-bottom: 4px;
    padding: 0px;
}

.preamble 
{ 
    width: 65px; 
    height: 45px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-bottom: 4px;
    padding: 0px;
}

.disruption 
{ 
    width: 65px; 
    height: 40px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 6px;
    padding: 0px;
}

.reason
{ 
    width: 65px; 
    height: 40px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.detail
{ 
    width: 65px; 
    height: 65px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.direction
{ 
    width: 65px; 
    height: 35px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 3px;
    padding: 0px;
    line-height: 12px;
}

.detail_1
{ 
    width: 65px; 
    height: 50px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 11px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.additional_detail
{ 
    width: 65px; 
    height: 50px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.rest
{ 
    width: 65px; 
    height: 50px;
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.reason_clear
{
    margin-left: 4px;
    margin-top: 8px;
    width: 203px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
}

.detail_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
    width: 136px;
}

.direction_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
    width: 65px;
    padding: 0px;
}

.detail_1_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
    width: 65px;
    padding: 0px;
}

.additional_detail_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
    width: 65px;
    padding: 0px;
}

.rest_of_line_clear
{
    margin-left: 4px;
    margin-top: 8px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
    width: 65px;
    padding: 0px;
}

.ticket_clear
{
    margin-left: 4px;
    margin-top: 4px;
    width: 190px;
    height: 40px;
    font-family: 'Helvetica'; 
    font-size: 18px;
}

.reason_text_search
{
    height: 33px; 
    margin-left: 5px; 
    margin-top: 5px;
} 

.builder{ 
    width: 60px; 
    height: 60px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0px;
}

.assembler 
{ 
    width: 60px; 
    height: 60px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 13px;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0px;
}

.textual 
{ 
    width: 60px; 
    height: 60px; 
    background-color: #e6e6e6; 
    color: black;
    font-family: 'Helvetica'; 
    font-size: 13px;
    margin-right: 4px;
    padding: 0px;
}

.button_text
{
    font-family: 'Helvetica'; 
    font-size: 14px;
}

.active,
.btn:active
{
    background: green !important
}

/* Login */
.login_panel
{
    border: 3px white;
    padding-left: 10px;
    text-align: center;
    margin-top: 50px;
    align-items: center;
}

/* Main */
.main_panel
{
    border: 3px white;
    border-style: solid;
    padding-left: 10px;
    height: 995px;
    width: 1910px;
    background-color: #16539F;
}

/* Status Bar */
.status_bar_panel
{
    margin-left: 10px;
    padding: 10px;
    height: 60px;
    width: 1865px;
}

.status_bar_container
{
    border: 1px white;
    border-style: solid;
    height: 50px;
    width: 20px;
    line-height: 18px;
    color: white;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

/* Title Panel */
.title_panel
{
    background-color: #16539F;
    color: white;
    height: 40px;
    width: 100%;
    text-align: middle;
    flex: 0 1 100%;
}

/* Message Builder */
.message_builder_panel
{
    height: 335px;
}

.line_panel {
    background-color: #f0f0f0;
    width: 75px;
    align-items: center;
}

.line_btn-group {
    padding-top: 4px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
}

.preamble_panel {
    background-color: #f0f0f0;
    width: 75px;
    margin-top: 5px;
}

.preamble_btn-group {
    padding-top: 4px;
    padding-bottom: 0px;
    align-self: center;
}

.disruption_panel {
    background-color: #f0f0f0;
    width: 214px;
    height: 326px;
    margin-left: 5px;
}
.disruption_btn-group {
    height: 306px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.reason_panel {
    background-color: #f0f0f0;
    width: 585px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.reason_btn-panel {
    width: 214px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.reason_btn-group {
    width: 214px;
    height: 224px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reason_list
{
    width: 475px;
    padding:0px; 
    padding-left:5px; 
    list-style-type: none;
    cursor: pointer;
}

.reason_disabled {
    opacity:0.6;
    cursor: not-allowed;
}

.reason_text_search
{
    height: 30px;
    width: 60px; 
    margin-left: 5px; 
    margin-top: 5px;
    padding: 0px;
}

.reason_text
{
    height: 30px; 
}

.reason_search_text
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 235px;
    width: 365px;
    line-height: 20px;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
}

.reason_input_text
{
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

.detail_panel {
    background-color: #f0f0f0;
    width: 146px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.detail_body
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 326px;
}

.detail_btn-panel {
    width: 146px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.detail_btn-group {
    width: 146px;
    height: 224px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.selected_stations_panel 
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 94%;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.selected_stations
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
    list-style-type: none;
}

.direction_panel {
    background-color: #f0f0f0;
    width: 75px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.direction_body
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 326px;
}

.direction_btn-panel {
    width: 75px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.direction_btn-group {
    width: 75px;
    height: 224px;
    padding-left: 4px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    
}

.detail_1_panel {
    background-color: #f0f0f0;
    width: 75px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.detail_1_body
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 296px;
}

.detail_1_btn-panel {
    width: 75px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.detail_1_btn-group {
    width: 75px;
    height: 224px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.additional_detail_panel {
    background-color: #f0f0f0;
    width: 75px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.additional_detail_body
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 296px;
}

.additional_detail_btn-panel {
    width: 75px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.additional_detail_btn-group {
    width: 75px;
    height: 224px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rest_of_line_panel {
    background-color: #f0f0f0;
    width: 75px;
    height: 326px;
    margin-left: 5px;
    flex-direction: column;
}

.rest_of_line_body
{
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 296px;
}

.rest_of_line_btn-panel {
    width: 75px;
    height: 296px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;  
    align-items: flex-start;
}

.rest_of_line_btn-group {
    width: 75px;
    height: 224px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ticket_panel {
    background-color: #f0f0f0;
    width: 200px;
    height: 326px;
    margin-left: 5px;
}

.ticket_body {
    width: 200px;
    padding: 0px;
    
}

.ticket_list_panel {
    margin-top: 5px;
    margin-left: 3px;
    width: 190px;
    line-height: 20px;
    height: 224px;
    padding: 1px;
    border: 1px solid #ced4da; 
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
}

.ticket_list
{
    width: 200px;
    padding:0px; 
    padding-left:5px; 
    list-style-type: none;
    cursor: pointer;
}

.ticket_disabled {
    pointer-events:auto; 
    opacity:0.6;
    cursor: not-allowed;
}

.builder_message_card {
    background-color: #f0f0f0;
    width: 320px;
    height: 326px;
    margin-left: 5px;
    padding: 0px;
    
}

.builder_message_panel {
    background-color: #f0f0f0;
    border: 1px solid #ced4da; 
    margin-top: 5px;
    margin-left: 4px;
    width: 310px;
    height: 205px;
    padding: 0px;
    overflow-y: auto;
}

.builder_message_body {
    width: 315px;
    padding: 0px;
}

.builder_complete_message
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
    cursor: not-allowed;
}

.builder_message_btn_panel
{
    width: 310px;
    display: flex;
    margin-left: 5px;
}

/* Message Assember */
.message_assembly_panel
{
    border: 2px solid white; 
    height: 545px;
    width: 650px;
    background-color: #f0f0f0;
}

.message_search_group
{
    height: 30px;
}

.message_search 
{ 
    width: 60px; 
    height: 50px;
    background-color: #e6e6e6; 
    border-color: lightgray;
    color: black;
    font-family: 'Helvetica'; 
    font-size: 12px;
    margin-left: 10px;
    margin-top: 1px;
}

.complete_message_panel
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 100px;
    width: 625px;
    overflow-y: auto;
    cursor: not-allowed;
}

.message_fragment_text
{
    background-color: #e9ecef; 
    width: 625px;
    height: 250px;
    padding: 1px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    line-height: 11px;
}

.fragment_list
{
    width: 825px;
    margin-top: 5px;
    padding:0px; 
    padding-left:5px; 
    list-style-type: none;
    cursor: pointer;
}

.message_btn_panel
{
    width: 625px;
    display: flex;
}

.complete_message
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
    font-family: 'Helvetica'; 
    font-size: 16px;
}

.message_input_text
{
    width: 625px;
}

/* Text Only */
.text_only_panel
{
    border: 2px solid white; 
    height: 545px;
    width: 825px;
    background-color: #f0f0f0;
    margin-left: 5px;
}

.textual_message_panel
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 100px;
    width: 810px;
    overflow-y: auto;
}

.textual_message
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
}

.suggestions_panel
{
    background-color: #e9ecef; 
    color: black;
    border: 1px solid #ced4da; 
    height: 350px;
    width: 300px;
}

.textual_suggestions
{
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 2px; 
    line-height: 18px;
    list-style-type: none;
}

.textual_btn_panel
{
    width: 610px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
   
}

/* Navigation and Footer */

.project-name {
    font-size: 25px;
    color: #123788;
}

.project-logo {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.footer {
    flex-shrink: 0;
    position: fixed;
    background-color: #444;
    left: 0;
    bottom: 0;
    width: 100%;
    display: blocl;
}

.footer p {
    color: #999;
    margin: 20px;
    font-size: 10px;
}

/* Fonts */
.title_font
{
    font-family: 'Helvetica'; 
    font-size: 28px;
    margin-left: 10px;
}

.status_font
{
    font-family: 'Helvetica'; 
    font-size: 14px;
    padding: 0px;
}

.heading_font
{
    font-family: 'Helvetica'; 
    font-size: 14px
}

.message_font
{
    font-family: 'Helvetica'; 
    font-size: 16px;
    padding: 0px;
}

.builder_message_font
{
    font-family: 'Helvetica'; 
    font-size: 14px;
    padding: 0px;
}

.list_font
{
    font-family: 'Helvetica'; 
    font-size: 14px
}

.fragment_list_font
{
    font-family: 'Helvetica'; 
    font-size: 11px;
    font-weight: bold;
}

.fragment_list_small_font
{
    font-family: 'Helvetica'; 
    font-size: 10px;
    font-weight: normal;
}


