<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
        <link rel='stylesheet' href='css/cim.css'>
    
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
        
        <title>RTDM Client</title>
    </head>
    <body>
        
        <!-- GUI -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <div id="appData"></div>
            <a class="btn btn-outline-primary ml-auto nav__el--logout" href='/users/logout'>Logout</a>
        </nav>  

        <main>
            <div class="container-fluid">
                <div class="main_panel">  
                    <div class="status_bar_panel">
                        <div class="row">
                            <div class="col-2 status_bar_container" style="margin-right: 5px">
                                <button type="button" class="btn btn-lg btn-primary btn-block status active" id="createMessage"><i class="fas fa-microphone"></i> Create Message</button>
                            </div>
                            <div class="col-2 status_bar_container" style="margin-right: 5px">
                                <button type="button" class="btn btn-lg btn-primary btn-block status" id="playLibrary"><i class="fas fa-book"></i> Play List and Library</button>
                            </div>
                            <div class="col-2 status_bar_container" id="applicationDetails" style="margin-right: 5px">
                            </div>
                            <div class="col status_bar_container" id="userDetails" style="margin-right: 5px">
                                <span class="status_font"><%= current_user.username %><br><span>
                                <span class="status_font"><%= current_user.role %><span>
                            </div>
                            <div class="col-2 status_bar_container">
                                <span class="status_font" id="currentdate"></span>
                                <span class="status_font" id="currenttime" style="float: right"></span>
                            </div>
                        </div>
                    </div>
                    <div id="createMessagePanel">
                        <div class="title_panel">
                            <label class="title_font">1) Message Builder</label>
                        </div> 
                        <div class="message_builder_panel flex_container">
                            <div class="line_panel card text-center">
                                <div class="heading_font card-header">Line</div>
                                <div class="line_btn-group card-body" id="lineList"></div>
                            </div> 
                            <div class="preamble_panel card text-center">
                                <div class="heading_font card-header px-0">Preamble</div>
                                <div class="preamble_btn-group card-body" data-toggle="buttons" id="preambleList"></div>
                            </div> 
                            <div class="disruption_panel card">
                                <div class="heading_font card-header pr-0 pl-2">Disruption</div>
                                <div class="disruption_btn-group card-body" data-toggle="buttons" id="disruptionList"></div>
                            </div>
                            <div class="reason_panel card">
                                <div class="heading_font card-header pl-2">Reason</div>
                                <div class="reason_btn-panel card-body">
                                    <div class="reason_btn-group" data-toggle="buttons" id="reasonList"></div>
                                    <button type="button" class="btn btn-lg btn-primary reason_clear" id="reasonClear" disabled>Clear</button>
                                    <div class="d-flex">
                                        <div class="input-group reason_input_text">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input type="text" id="reasonText" placeholder="Enter search text" class="reason_text form-control" disabled>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary button_text fas fa-times" id="reasonSearchClear" disabled></button>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary button_text reason_text_search" id="reasonTextSearch" disabled>Search</button>
                                    </div>
                                    <div class="reason_search_text rounded" style="overflow: scroll">
                                        <ol class="reasonItems reason_list" id="reasonSelectedList"></ol>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_panel card">
                                <div class="heading_font card-header pl-2">Detail</div>
                                <div class="card-body detail_body">
                                    <div class="detail_btn-panel card-body">
                                        <div class="detail_btn-group" data-toggle="buttons" id="detailList"></div>
                                        <button type="button" class="btn btn-lg btn-primary detail_clear" id="detailClear" disabled>Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="direction_panel card">
                                <div class="heading_font card-header px-0 text-center">Direction</div>
                                <div class="card-body direction_body">
                                    <div class="direction_btn-panel card-body">
                                        <div class="direction_btn-group" data-toggle="buttons" id="directionList"></div>
                                        <button type="button" class="btn btn-primary direction_clear" id="directionClear" disabled>Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_1_panel card">
                                <div class="heading_font card-header  px-0 text-center">Detail</div>
                                <div class="card-body detail_1_body">
                                    <div class="detail_1_btn-panel card-body">
                                        <div class="detail_1_btn-group" data-toggle="buttons" id="detail_1_list"></div>
                                        <button type="button" class="btn btn-primary detail_1_clear" id="detail_1_clear" disabled>Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="additional_detail_panel card">
                                <div class="heading_font card-header px-0 pt-0 pb-1 text-center">Additional Detail</div>
                                <div class="card-body additional_detail_body">
                                    <div class="additional_detail_btn-panel card-body">
                                        <div class="additional_detail_btn-group" data-toggle="buttons" id="additional_detail_list"></div>
                                        <button type="button" class="btn btn-primary additional_detail_clear" id="additional_detail_clear" disabled>Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="rest_of_line_panel card">
                                <div class="heading_font card-header  px-0 pt-0 pb-1 text-center">Rest of Line</div>
                                <div class="card-body rest_of_line_body">
                                    <div class="rest_of_line_btn-panel card-body">
                                        <div class="rest_of_line_btn-group" data-toggle="buttons" id="rest_of_line_list"></div>
                                        <button type="button" class="btn btn-primary rest_of_line_clear" id="rest_of_line_clear" disabled>Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ticket_panel card">
                                <div class="heading_font card-header pl-2">Tickets Accepted On</div>
                                <div class="ticket_body card-body">
                                    <div class="ticket_list_panel rounded" style="overflow: scroll">
                                        <ol class="ticketItems ticket_list" id="ticketSelectionList"></ol>
                                    </div>
                                    <button type="button" class="btn btn-lg btn-primary ticket_clear" id="ticketClear" disabled>Clear</button>
                                </div>
                            </div>
                            <div class="builder_message_card card">
                                <label class="heading_font card-header">Complete Message</label>
                                <div class="builder_message_body card-body">
                                    <div class="builder_message_panel rounded">
                                        <div class="builder_complete_message" id="builderCompleteMessage"></div>
                                    </div>
                                    <div class="builder_message_btn_panel">
                                        <button class="btn btn-outline-dark builder" id="builderClear" disabled><i class="fas fa-broom"></i><br>Clear</button>
                                        <button class="btn btn-outline-dark builder ml-3 mr-auto" id="builderPreview" disabled><i class="fas fa-headphones"></i><br>Preview</button>
                                        <button class="btn btn-outline-dark builder" id="builderSave" disabled><i class="fas fa-save"></i><br>Save</button>
                                        <button class="btn btn-outline-dark builder" id="builderSchedule" disabled><i class="fas fa-calendar-alt"></i><br>Play Schedule</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                        <div class="break"></div>
                        <div class="d-flex wrap">
                            <div id="messageassemblypanel"></div>
                            <div id="textonlypanel"></div>
                            <div id="quicklistpanel"></div>
                        </div>
                    </div>
                    <div class="d-none" id="libraryPanel"></div>
                </div>
            </div>
        </main>
        <div id="footer"></div>
        <div id="selectionpanels"></div>

        <div class="modal fade" id="lineModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Line Selector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column" id="lineSelectedList"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>      
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>       
        <script src="https://kit.fontawesome.com/7cc150e0f5.js" crossorigin="anonymous"></script>
        <script src="/dependencies/howler.core.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.core.min.js" integrity="sha256-KVZnkPTU6/RYbD2Jxh9AOIoOmiYw4cIIr3uD2HVx8gY=" crossorigin="anonymous"></script>
        <script src="/dependencies/typo.js"></script>

        <!-- Main Javascript-->
        <script src="/js/main.js"></script>
        <script src="/js/dataHandler.js"></script> 
       <script src="/js/eventHandler.js"></script>
    </body>
</html> 